## source :https://github.com/RajKKapadia/YouTube-Gradio-Deploy-Demo/tree/main
# uvicorn run:app --reload --port 5000
aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
autopep8
certifi
charset-normalizer
click
contourpy
cycler
exceptiongroup
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
gradio
gradio_client
gtts
h11
httpcore
httpx
huggingface-hub
idna
importlib-resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
langdetect
linkify-it-py
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins
mdurl
mistralai
multidict
numpy
orjson
packaging
pandas
Pillow
pycodestyle
pydantic
pydantic_core
pydub
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
referencing
requests
rpds-py
semantic-version
six
sniffio
starlette
tomli
toolz
tqdm
typing_extensions
tzdata
uc-micro-py
urllib3
uvicorn
websockets
yarl
zipp